#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/d18849b8-cb25-4c55-b988-b187280c0cec # 

version: v4.1
title: social-recommendations-api
mediaType: application/json

uses:
  traits: exchange_modules/a6d4cdc7-ecb0-4315-a6a6-216c71ba0b54/commons-traits/1.1.0/traits.raml

types:
  ArtPiece:
    type: string
  PaintColor:
    type: string
  Choices:
    properties:
      artPieces: ArtPiece[]
      paintColors: PaintColor[]
  ChoiceResults:
    properties:
      artPiece: ArtPiece
      paintColor: PaintColor
      count: integer
      latest: string[]
  Recommendation:
    properties:
      clientId:
      name:
      choice:
        type: integer[]
        minItems: 2
        maxItems: 2
  Personalized:
    properties:
      personalized:
        type: boolean
        example: false

        
/choices:
  get:
    responses:
      200:
        body:
          type: Choices
  put:
    is: [ traits.secure ]
    body:
      type: Choices
    responses:
      200:

/recommendations:
  post:
    responses: 
      200:
        body:
          type: Recommendation
  put:
    is: [ traits.secure ]
    body:
      type: Recommendation[]
    responses:
      200:
  /summary:
    get:
      responses: 
        200:
          body:
            type: ChoiceResults[][]
    /top:
      get:
        responses:
          200:
            body:
              type: ChoiceResults

/status:
  get:
    responses:
      200:
        body: Personalized
  put:
    is: [ traits.secure ]
    body: Personalized
    responses: 
      200:
